@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}

.gallery {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery > div {
  position: relative;
  width: 30%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery > div > img {
  object-fit: cover;
}

.gallery > div:hover {
  z-index: 1;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  text-align: center;
}

.overbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0,0,0,.5);
  transition: .3s background;
}

.overbox:hover {
  opacity: 1;
}

.overbox > h2 {
  text-align: center;
  flex-basis: 100%;
}