{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fioulmarket - Test</h1>
        {% for message in app.flashes('error') %}
            <div class="alert alert-light" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    <div class="gallery cf">
        {% for article in articles %}
            <div>
                <img width="500" height="400" src={{ article[1] }} />
                <div class="overbox">
                    <h2>{{ article[2] }}</h2>
                    <a href={{ article[0] }}>
                        <button class="btn btn-primary">Lire l'article</button>
                    </a>
                </div>
            
            </div>
        {% endfor %}
    </div>
{% endblock %}